<!DOCTYPE html>
<html lang="en">
<head>
  <title>UP | Successfully Uploaded</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="./images/inside.jpeg" style="background-repeat: repeat; background-size: 100%">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="font-size: 2vw; font-weight: bold;">UP</a>
    </div>
    <a href="/logout" style="color: white ;float: right;font-size: 1.5vw;margin-top: 1%" class="active"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
      <p href="" class="active" style="margin-right:6% ;margin-top: 1%;font-size: 1.5vw;color: white ;float:right ;font-weight: bold;font-style: italic;" > <span class="glyphicon glyphicon-user"><%= name %></p>

    <ul class="nav navbar-nav">
      <li class="active" style="font-size: 1.5vw"><a href="/">Home</a></li>

    </ul>
  </div>
</nav>


   
 <center style="margin-top: 5%"> <img border="0" alt="W3Schools" src="./images/tick.png" width="200" height="200"></center>
  <!-- <h1 style="font-size:2vw;font-weight: bold;font-style: italic;margin-left:35%;    text-decoration: underline;
"> Success</h1> --> 

</body>
</html>
