<!DOCTYPE html>
<html lang="en">
<style>
  

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
</style>
<head>
  <title>UP | Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background = "./images/outside.jpeg" style="background-repeat: repeat; background-size: 20% ">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size: 2vw; font-weight: bold;">UP</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>

    </ul>
  </div>
</nav>

<div class="panel panel-primary class" style="margin-left:30%;margin-right:30%;margin-top:5%;">
   <h1 style="font-size:2vw;font-weight: bold;margin-left:40%;">Login</h1> 
   <hr>
  <div class="panel-body">
 <% if(e=='1'){ %>
  <div class="alert alert-danger">
  <strong>Incorrect !</strong> Incorrect Username or password.
</div>
   <% } %>
    <form  action="/login" enctype="multipart/form-data" method="post">
      <div class="form-group">
  <label for="usr">User Name:</label>
   <input class="form-control" type="text" name="uname" required>
 </div>
 <div class="form-group">
 <label for="usr">Password:</label>
 <input class="form-control" style="margin-left:.4%; " type="Password" name="pswd">
</div>
  <input type="submit" value="Submit" style="    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;">
  <h1 style="font-size:1.5vw;font-style: italic;margin-left:45%;">-- OR --</h1> 
    <input type="button" onclick="window.location.href='/reg'" value="Sign Up" style="    background-color: #FF0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;">
</form>
</div>

</div>

</body>
</html>
